@model IntershipManagement.Models.Notification
@{

}
<style>
    @@media (min-width: 576px) {
        .modal-dialog {
            max-width: 576px;
        }
    }
</style>
<div class="card">
    <div class="card-header">
        <h3 class="card-title text-danger font-weight-bold">Thông báo</h3>
    </div>
    <div class="card-body">
        <p class="text-success font-weight-bold">@Model.Title</p>
        <p style="font-size: 13px;">@Model.Createdate</p>
    </div>
    <div class="form-group text-center">
        @if (Model.DetailsURL != null)
        {
            <a href="@Model.DetailsURL" onclick="isReadNotif(@Model.Id)" class="btn btn-primary"><i class="ti ti-check"></i> Tiếp tục</a>
        }
        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="ti ti-close"></i> Thoát</button>
    </div>
</div>