@model List<IntershipManagement.Areas.Admin.Data.AssignViewModel>
@{
    ViewBag.Title = "StudentClass";
    var index = 0;
    var done = 0;
    var fail = 0;
}
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0">Form Upload File</h4>

        </div>
    </div>
</div>
<!-- end page title -->
<div class="row">
    <div class="col-12">
        <div class="card">

            <div class="card-body">
                <div>
                    @using (Html.BeginForm("UploadFile", "StudentClass", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="input-group mb-3">
                            <div class="col-md-4">
                                <input type="file" name="UploadedFile" class="form-control" />
                            </div>
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-primary">
                                    Upload
                                </button>
                                <a href="~/File/temp_assign_account.xlsx" class="btn btn-danger"><i class="ti ti-file"></i> File mẫu</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">Database</div>
            <div class="card-body">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nhóm</th>
                            <th>Sinh viên</th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            index++;
                            <tr>
                                <td>@index</td>
                                <td>@item.GroupName</td>
                                <td>@item.StudentName</td>
                                <td>
                                    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                                    {
                                        <span class="text-success">thành công</span>
                                        done++;
                                    }
                                    else
                                    {
                                        <span class="text-danger">chưa lưu được</span>
                                        fail++;
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            Tạo thành công:
                            <content class="text-success">@done</content> --- tạo thất bại: @fail
                        </tr>
                    </tfoot>
                </table>

            </div>
        </div>
        <!-- end card -->
    </div> <!-- end col -->
</div> <!-- end row -->