body {
    font-family: 'Lato', sans-serif !important;
    font-size: 16px;
}

.logo img {
    max-height: 80px;
}

.fixed-top .logo img {
    max-height: 80px;
}
.menu-pc ul .lv1 {
    margin: 0 15px !important;
    font-weight: 700 ;
}
.menu-pc ul .lv1 > a {
    font-size: 16px;
    text-transform: none;
    font-weight: bold;
}
    
    .nav li.active {
        color: #000;
        border-bottom: 1px solid #000;
    }

.footer-wrapper p {
    margin: 0;
}

.social .social-icon {
    color: #e91d29;
    background: #FFF;
}

    .social .social-icon.fb:hover {
        color: #fff;
        background: #e91d29;
    }

p i {
    color: #e91d29;
}

.bottom-footer {
    background-color: #e91d29;
}

    .bottom-footer p {
        margin: 0;
        color: white;
    }

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.title {
    padding-top: 25px;
    color: black;
    font-size: 14px;
    font-weight: bold;
}

h2 {
    font-size: 28px;
}

.datepicker-days table {
    width: 100%;
}

.datepicker-days tr th {
    font-size: 11px;
}

.datepicker-days tr td {
    font-size: 11px;
}
/* ".inherited-styles-for-exported-element" is a generated class for the inherited styles of the exported element, feel free to rename it. */

*, ::before, ul {
    box-sizing: border-box;
}

.inherited-styles-for-exported-element {
    color: #777;
    font-family: Roboto, sans-serif;
    line-height: 1.6;
}

a {
    background-color: transparent;
    text-decoration: none;
    touch-action: manipulation;
}

strong {
    font-weight: bolder;
}

ul {
    list-style: disc;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1080px;
    padding-left: 15px;
    padding-right: 15px;
}

.flex-row {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
}

.flex-col {
    max-height: 100%;
}

.flex-grow {
    flex: 1 1 0;
}

.flex-center {
    margin: 0 auto;
}

.flex-left {
    margin-right: auto;
}

.flex-right {
    margin-left: auto;
}

.nav {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

.nav-center {
    justify-content: center;
}

.nav-left {
    justify-content: flex-start;
}

.nav-right {
    justify-content: flex-end;
}

@media (max-width: 849px) {
    .medium-nav-center {
        justify-content: center;
    }
}

.uppercase {
    letter-spacing: .05em;
    line-height: 1.2;
    text-transform: uppercase;
}

.header-top {
    align-items: center;
    display: flex;
    min-height: 20px;
    position: relative;
    z-index: 11;
}

.social-icons {
    display: inline-block;
    vertical-align: middle;
}

a:active {
    outline: 0;
}

.nav > li, i[class^=icon-] {
    display: inline-block;
    padding: 0;
    position: relative;
}

.nav > li {
    list-style: none;
    margin: 0 7px;
    transition: background-color .3s;
}

@media (min-width: 850px) {
    .nav-divided > li {
        margin: 0 .7em;
    }
}

i[class^=icon-] {
    line-height: 1.2;
    margin: 0;
}

a:focus {
    outline: 0;
}

a.plain {
    color: currentcolor;
    transition: color .3s, opacity .3s, transform .3s;
}

a:hover {
    color: #000;
}

.container::after {
    clear: both;
    content: "";
    display: table;
}

.icon-envelop::before {
    content: "";
}

.icon-facebook::before {
    content: "";
}

.social-icons i {
    min-width: 1em;
}

.flex-row {
    height: 100%;
}

.html .social-icons {
    font-size: 1em;
}

.nav-dark .social-icons {
    color: #fff;
}

:where(div[data-block-name="woocommerce/legacy-template"]) {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

a.icon:not(.button) {
    font-family: sans-serif;
    margin-left: .3em;
    margin-right: .3em;
}

html :where([style*="border-width"]) {
    border-style: solid;
}

html :where(img[class*="wp-image-"]) {
    height: auto;
    max-width: 100%;
}

:where(.wp-block-columns.has-background) {
    padding: 1.25em 2.375em;
}

.nav-small.nav > li.html {
    font-size: .75em;
}

.nav-dark a.plain:hover {
    opacity: .7;
}

.nav-dark .nav > li.html {
    color: #fff;
}

.nav-small a.icon:not(.button) {
    font-size: 1em;
}

.header-top {
    background-color: rgba(66, 66, 66, .58) !important;
}

@media (min-width: 850px) {
    .show-for-medium {
        display: none !important;
    }
}

@media (max-width: 849px) {
    .hide-for-medium {
        display: none !important;
    }
}

.ml-0 {
    margin-left: 0 !important;
}

i[class^=icon-] {
    font-family: fl-icons !important;
    font-weight: 400 !important;
    speak: none !important;
    text-transform: none !important;
}

.nav li:first-child {
    margin-left: 0 !important;
}

.nav li:last-child {
    margin-right: 0 !important;
}
/* ".inherited-styles-for-exported-element" is a generated class for the inherited styles of the exported element, feel free to rename it. */

*, ::before, ul {
    box-sizing: border-box;
}

.inherited-styles-for-exported-element {
    color: #777;
    font-family: Roboto, sans-serif;
    line-height: 1.6;
}

a, button, input {
    touch-action: manipulation;
}

a {
    background-color: transparent;
    text-decoration: none;
}

img {
    border-style: none;
    height: auto;
    max-width: 100%;
    opacity: 1;
    vertical-align: middle;
}

button, input {
    font-family: inherit;
    overflow: visible;
}

button {
    appearance: button;
}

input {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

label {
    color: #222;
    display: block;
    font-size: .9em;
    font-weight: 700;
}

ul {
    list-style: disc;
}

.header-main {
    height: 135px;
}

.search-form {
    width: 100%;
}

@media (max-width: 549px) {
    .header-main {
        height: 70px;
    }
}

.nav-dropdown {
    font-size: 100%;
}

[type=search] {
    appearance: textfield;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1080px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.flex-row {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
}

.flex-col {
    max-height: 100%;
}

.flex-grow {
    flex: 1 1 0;
}

.flex-left {
    margin-right: auto;
}

.flex-right {
    margin-left: auto;
}

.nav-dropdown {
    background-color: #fff;
    border: 2px solid #ddd;
    box-shadow: rgba(0, 0, 0, .15) 1px 1px 15px;
    color: #777;
    display: table;
    margin: 0;
    max-height: 0;
    min-width: 260px;
    opacity: 0;
    padding: 20px 0;
    position: absolute;
    text-align: left;
    transition: opacity .25s;
    z-index: 9;
}

.nav {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

.nav-left {
    justify-content: flex-start;
}

.nav-right {
    justify-content: flex-end;
}

.button {
    border: 1px solid rgba(0, 0, 0, .05);
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: .97em;
    font-weight: bolder;
    letter-spacing: .03em;
    line-height: 2.4em;
    max-width: 100%;
    min-height: 2.5em;
    padding-bottom: 0;
    padding-top: 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-rendering: optimizelegibility;
    text-shadow: none;
    text-transform: uppercase;
    transition: transform .3s, border .3s, background .3s, box-shadow .3s, opacity .3s, color .3s;
    vertical-align: middle;
}

.is-outline {
    color: silver;
}

.header-button {
    display: inline-block;
}

.is-normal {
    font-weight: 400;
}

.full-width {
    display: block;
}

.circle {
    object-fit: cover;
}

.z-top {
    z-index: 9995;
}

.header-main {
    position: relative;
    z-index: 10;
}

.top-divider {
    border-top: 1px solid currentcolor;
    margin-bottom: -1px;
    opacity: .1;
}

.logo {
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0;
}

.searchform {
    position: relative;
}

.searchform-wrapper {
    width: 100%;
}

.screen-reader-text {
    border-style: initial;
    border-width: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    width: 1px;
}

a:active {
    outline: 0;
}

[type=search]::-webkit-search-cancel-button {
    appearance: none;
}

.nav-dropdown::after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
}

.nav-dropdown li {
    display: block;
    margin: 0;
    vertical-align: top;
}

.nav > li, i[class^=icon-] {
    display: inline-block;
    padding: 0;
    position: relative;
}

.nav > li {
    list-style: none;
    margin: 0 7px;
    transition: background-color .3s;
}

input:hover {
    box-shadow: transparent 0 -1.8em 1em 0 inset;
}

i[class^=icon-] {
    line-height: 1.2;
    margin: 0;
}

.button i, button i {
    vertical-align: middle;
}

button i {
    top: -1.5px;
}

input:focus {
    outline: 0;
}

a:hover {
    color: #000;
}

.container::after {
    clear: both;
    content: "";
    display: table;
}

.logo a {
    color: #446084;
    display: block;
    font-size: 32px;
    font-weight: bolder;
    text-decoration: none;
    text-transform: uppercase;
}

.logo img {
    display: block;
    transition: max-height .5s;
    width: auto;
}

.icon-menu::before {
    content: "";
}

.icon-search::before {
    content: "";
}

.nav > li > a {
    align-items: center;
    color: rgba(102, 102, 102, .85);
    display: inline-flex;
    flex-wrap: wrap;
    font-family: Lato, sans-serif;
    font-size: .8em;
    font-weight: 700;
    padding: 10px 0;
    transition: all .2s;
}

.logo a, li.html form, li.html input {
    margin: 0;
}

@media (-ms-high-contrast:none) {
    .nav > li > a > i {
        top: -1px;
    }
}

.nav > li > a > i {
    transition: color .3s;
    vertical-align: middle;
}

button[type=submit] {
    background-color: #424242;
}

.flex-row {
    height: 100%;
}

.button.is-outline {
    background-color: transparent;
    border-color: currentcolor;
    border-style: solid;
    line-height: 2.19em;
}

.button:hover {
    box-shadow: rgba(0, 0, 0, .2) 0 0 0 100px inset;
    color: #fff;
    opacity: 1;
    outline: 0;
}

.is-outline:hover {
    background-color: #446084;
    border-color: #446084;
    color: #fff;
}

.header-button .button {
    margin-top: 0;
}

.flex-col .button {
    margin-bottom: 0;
}

.button.icon {
    display: inline-block;
    margin-left: .12em;
    margin-right: .12em;
    min-width: 2.5em;
    padding-left: .6em;
    padding-right: .6em;
}

.button:focus, a:focus {
    outline: 0;
}

.is-small {
    font-size: .8em;
}

.screen-reader-text:focus {
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, .6) 0 0 2px 2px;
    font-weight: 700;
}

.logo-left .logo {
    margin-left: 0;
    margin-right: 30px;
}

@media screen and (max-width: 849px) {
    .header-inner .nav {
        flex-wrap: nowrap;
    }

    .medium-logo-center .flex-left {
        flex: 1 1 0;
        order: 1;
    }

    .medium-logo-center .logo {
        margin: 0 15px;
        order: 2;
        text-align: center;
    }

    .medium-logo-center .flex-right {
        flex: 1 1 0;
        order: 3;
    }

}

.searchform-wrapper .autocomplete-suggestions {
    overflow-y: auto;
}

:where(div[data-block-name="woocommerce/legacy-template"]) {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

.screen-reader-text:focus {
    background-color: #ddd;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
}

.nav-dropdown > li.html {
    min-width: 260px;
}

.nav ul:not(.nav-dropdown) {
    margin: 0;
    padding: 0;
}

a.icon:not(.button), button.icon:not(.button) {
    font-family: sans-serif;
    font-size: 1.2em;
    margin-left: .3em;
    margin-right: .3em;
}

button.icon:not(.button) {
    margin-left: .25em;
    margin-right: .25em;
}

.button.icon i {
    font-size: 1.2em;
}

.button:not(.icon) > i {
    margin-left: -.15em;
    margin-right: .4em;
}

.nav > li.html {
    font-size: .85em;
}

@media screen and (max-width: 849px) {
    .medium-logo-center .logo img {
        margin: 0 auto;
    }
}

html :where([style*="border-width"]) {
    border-style: solid;
}

html :where(img[class*="wp-image-"]) {
    height: auto;
    max-width: 100%;
}

li.has-dropdown::before {
    border-style: solid;
    bottom: -2px;
    content: "";
    height: 0;
    left: 50%;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    width: 0;
}

li.has-dropdown::after {
    border-color: transparent transparent #fff;
    border-width: 8px;
    margin-left: -8px;
}

li.has-dropdown::before {
    border-color: transparent transparent #ddd;
    border-width: 11px;
    margin-left: -11px;
    z-index: -999;
}

.nav > li > a > i.icon-menu {
    font-size: 1.9em;
}

.nav > li.has-icon > a > i {
    min-width: 1em;
}

:where(.wp-block-columns.has-background) {
    padding: 1.25em 2.375em;
}

.button.icon.is-small {
    border-width: 1px;
}

.button.icon.circle {
    padding-left: 0;
    padding-right: 0;
}

.searchform .button.icon {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

.search-form .autocomplete-suggestions {
    max-height: 80vh;
}

.search-form .live-search-results {
    background-color: rgba(255, 255, 255, .95);
    box-shadow: rgba(0, 0, 0, .1) 0 0 10px 0;
    color: #111;
    left: 0;
    position: absolute;
    right: 0;
    text-align: left;
    top: 105%;
}

.nav-dropdown.nav-dropdown-bold li.html {
    padding: 0 20px 10px;
}

.button.icon.is-small i {
    top: -1px;
}

.button.icon.circle > i {
    margin: 0 8px;
}

.header-button a.icon:not(.button) {
    display: inline-block;
    padding: 6px 0;
}

.searchform .button.icon i {
    font-size: 1.2em;
}

li .html .live-search-results {
    background-color: transparent;
    box-shadow: none;
    position: relative;
    top: 0;
}

.nav:hover > li:not(:hover) > a::before {
    opacity: 0;
}

.button.icon.circle > i:only-child {
    margin: 0;
}

.nav-right li.has-dropdown:hover:last-child > .nav-dropdown {
    left: auto;
    right: -15px;
}

#logo {
    width: 194px;
}

    #logo img {
        max-height: 121px;
    }

@media (max-width: 549px) {
    #logo img {
        max-height: 70px;
    }
}

@media (min-width: 850px) {
    .show-for-medium {
        display: none !important;
    }
}

@media (max-width: 849px) {
    .hide-for-medium {
        display: none !important;
    }
}

.full-width {
    max-width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100% !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.relative {
    position: relative !important;
}

.circle {
    border-radius: 999px !important;
}

.header-logo-dark {
    display: none !important;
}

.screen-reader-text {
    overflow-wrap: normal !important;
    position: absolute !important;
}

i[class^=icon-] {
    font-family: fl-icons !important;
    font-weight: 400 !important;
    speak: none !important;
    text-transform: none !important;
}

.is-outline:hover {
    box-shadow: none !important;
}

.screen-reader-text:focus {
    clip: auto !important;
}

.nav li:first-child {
    margin-left: 0 !important;
}

.nav li:last-child {
    margin-right: 0 !important;
}

.searchform-wrapper:not(.form-flat) .submit-button {
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
}
/* ".inherited-styles-for-exported-element" is a generated class for the inherited styles of the exported element, feel free to rename it. */

*, ::before, ul {
    box-sizing: border-box;
}

.inherited-styles-for-exported-element {
    color: #777;
    font-family: Roboto, sans-serif;
    line-height: 1.6;
}

a {
    background-color: transparent;
    text-decoration: none;
    touch-action: manipulation;
}

img {
    border-style: none;
    display: inline-block;
    height: auto;
    max-width: 100%;
    opacity: 1;
    transition: opacity 1s;
    vertical-align: middle;
}

ul {
    list-style: disc;
}

.header-bottom {
    background-color: #424242;
}

.nav-dropdown {
    font-size: 100%;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1080px;
    padding-left: 15px;
    padding-right: 15px;
}

.flex-row {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
}

.flex-col {
    max-height: 100%;
}

.flex-center {
    margin: 0 auto;
}

.nav-dropdown {
    background-color: #fff;
    border: 2px solid #ddd;
    box-shadow: rgba(0, 0, 0, .15) 1px 1px 15px;
    color: #777;
    display: table;
    left: -99999px;
    margin: 0;
    max-height: 0;
    min-width: 260px;
    opacity: 0;
    padding: 20px 0;
    position: absolute;
    text-align: left;
    transition: opacity .25s;
    z-index: 9;
}

.nav {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

.nav-center {
    justify-content: center;
}

.header-bottom {
    align-items: center;
    display: flex;
    min-height: 35px;
    position: relative;
    z-index: 9;
}

a:active {
    outline: 0;
}

.nav-dropdown::after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
}

.nav-dropdown li {
    display: block;
    margin: 0;
    vertical-align: top;
}

.nav > li, i[class^=icon-] {
    display: inline-block;
    padding: 0;
    position: relative;
}

.nav > li {
    list-style: none;
    margin: 0 7px;
    transition: background-color .3s;
}

@media (min-width: 850px) {
    .nav-divided > li {
        margin: 0 .7em;
    }
}

i[class^=icon-] {
    font-family: fl-icons !important;
    font-weight: 400 !important;
    line-height: 1.2;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0;
    speak: none !important;
    text-transform: none !important;
}

a:focus {
    outline: 0;
}

a:hover {
    color: #000;
}

.container::after {
    clear: both;
    content: "";
    display: table;
}

.icon-angle-down::before {
    content: "";
}

.header-bottom-nav > li > a {
    line-height: 27px;
}

.nav > li > a {
    font-family: Lato, sans-serif;
}

.nav-dropdown > li > a {
    line-height: 1.3;
    padding-bottom: 10px;
    padding-top: 10px;
    width: auto;
}

.nav > li > a {
    align-items: center;
    display: inline-flex;
    flex-wrap: wrap;
    padding: 10px 0;
}

.nav-dropdown > li > a {
    color: rgba(102, 102, 102, .85);
    transition: all .2s;
}

.nav > li > a {
    transition: all .2s;
}

.nav-dropdown > li > a {
    display: block;
}

.nav-uppercase > li > a {
    font-weight: bolder;
    letter-spacing: .02em;
    text-transform: uppercase;
}

.nav > li > a {
    font-size: .8em;
}

@media (-ms-high-contrast:none) {
    .nav > li > a > i {
        top: -1px;
    }
}

.nav > li > a > i {
    transition: color .3s;
    vertical-align: middle;
}

@media (min-width: 850px) {
    .nav-divided > li + li > a::after {
        border-left-style: solid;
        border-left-width: 1px;
        content: "";
        height: 15px;
        left: -1em;
        margin-top: -7px;
        position: absolute;
        top: 50%;
        width: 1px;
    }
}

.flex-row {
    height: 100%;
}

.has-dropdown .icon-angle-down {
    font-size: 16px;
    margin-left: .2em;
    opacity: .6;
}

:where(div[data-block-name="woocommerce/legacy-template"]) {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

.nav ul:not(.nav-dropdown) {
    margin: 0;
    padding: 0;
}

html :where([style*="border-width"]) {
    border-style: solid;
}

html :where(img[class*="wp-image-"]) {
    height: auto;
    max-width: 100%;
}

.nav-dropdown.nav-dropdown-bold > li > a {
    border-radius: 10px;
    margin: 0 10px;
    padding-left: 10px;
    padding-right: 5px;
}

li.has-dropdown::before {
    border-left-color: transparent;
    border-right-color: transparent;
    border-style: solid;
    border-top-color: transparent;
    bottom: -2px;
    content: "";
    height: 0;
    left: 50%;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    width: 0;
}

li.has-dropdown::after {
    border-color: transparent transparent #fff;
    border-width: 8px;
    margin-left: -8px;
}

li.has-dropdown::before {
    border-width: 11px;
    margin-left: -11px;
    z-index: -999;
}

.nav-dark .nav > li > a {
    color: rgba(255, 255, 255, .8);
}

.nav-dark .nav-divided > li + li > a::after {
    border-color: rgba(255, 255, 255, .2);
}

:where(.wp-block-columns.has-background) {
    padding: 1.25em 2.375em;
}

.nav:hover > li:not(:hover) > a::before {
    opacity: 0;
}

.flex-has-center > .flex-row > .flex-col:not(.flex-center) {
    flex: 1 1 0;
}

@media (max-width: 849px) {
    .hide-for-medium {
        display: none !important;
    }
}

.nav li:first-child {
    margin-left: 0 !important;
}

.nav li:last-child {
    margin-right: 0 !important;
}

.nav-dropdown > li:last-child:not(.nav-dropdown-col) > a {
    border-bottom-color: initial !important;
    border-bottom-style: initial !important;
    border-bottom-width: 0 !important;
}
/* ".inherited-styles-for-exported-element" is a generated class for the inherited styles of the exported element, feel free to rename it. */

*, ::before, ul {
    box-sizing: border-box;
}

.inherited-styles-for-exported-element {
    color: #777;
    font-family: Roboto, sans-serif;
    line-height: 1.6;
}

h5, p {
    margin-top: 0;
}

h5 {
    font-family: Roboto, sans-serif;
    font-size: 1em;
    font-weight: 700;
    margin-bottom: .5em;
    text-rendering: optimizespeed;
    width: 100%;
}

a {
    background-color: transparent;
    text-decoration: none;
    touch-action: manipulation;
}

strong {
    font-weight: bolder;
}

img {
    border-style: none;
    display: inline-block;
    height: auto;
    opacity: 1;
    transition: opacity 1s;
    vertical-align: middle;
}

iframe, img {
    max-width: 100%;
}

ul {
    list-style: disc;
    padding: 0;
}

p {
    margin-bottom: 1.3em;
}

.footer-1 {
    background-image: url(https://deborah.vn/wp-content/uploads/2021/09/bg-deb-scaled.jpg);
}

.wp-block-group {
    box-sizing: border-box;
}

.col {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0;
    position: relative;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    max-width: 1080px;
    width: 100%;
}

.dark {
    color: #f1f1f1;
}

.widget {
    margin-bottom: 1.5em;
}

.footer {
    padding: 30px 0 0;
}

.footer-1 {
    background-color: #fff;
    border-top: 1px solid rgba(0, 0, 0, .05);
}

.has-text-align-center {
    text-align: center;
}

a:active {
    outline: 0;
}

p:empty {
    display: none;
}

a:focus {
    outline: 0;
}

.row::after {
    clear: both;
    content: "";
    display: table;
}

.dark p {
    color: #f1f1f1;
}

.dark .widget a:hover, .dark h5 {
    color: #fff;
}

.footer ul {
    margin: 0;
}

ul.menu > li {
    list-style: none;
    margin: 0;
    text-align: left;
}

    ul.menu > li > a {
        display: inline-block;
        flex: 1 1 0;
        padding: 6px 0;
    }

    ul.menu > li::before {
        display: inline-block;
        font-family: fl-icons;
        margin-right: 6px;
        opacity: .6;
    }

    ul.menu > li + li {
        border-top-style: solid;
        border-top-width: 1px;
    }

@media screen and (min-width: 850px) {
    .large-columns-4 > .col {
        flex-basis: 25%;
        max-width: 25%;
    }
}

:where(div[data-block-name="woocommerce/legacy-template"]) {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

.dark a {
    color: currentcolor;
}

html :where([style*="border-width"]) {
    border-style: solid;
}

html :where(img[class*="wp-image-"]) {
    height: auto;
    max-width: 100%;
}

.dark ul.menu > li + li {
    border-color: rgba(255, 255, 255, .08);
}

:where(.wp-block-columns.has-background) {
    padding: 1.25em 2.375em;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.row > div:not(.col):not([class^=col-]) {
    width: 100% !important;
}
/* ".inherited-styles-for-exported-element" is a generated class for the inherited styles of the exported element, feel free to rename it. */

.inherited-styles-for-exported-element {
    box-sizing: border-box;
    color: #525252;
    font-family: Quicksand, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    text-align: left;
}

h4 {
    color: #555;
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 1.125em;
    font-weight: 400;
    line-height: 1.2;
    margin: 0 0 .5em;
    text-align: left;
    text-rendering: optimizespeed;
}

h3, h4, table {
    width: 100%;
}

table {
    -webkit-border-horizontal-spacing: 0;
    -webkit-border-vertical-spacing: 0;
    border-collapse: collapse;
    border-color: #ececec;
    margin-bottom: 1em;
}

button, select {
    box-sizing: border-box;
    font-family: inherit;
    overflow: visible;
}

select {
    appearance: none;
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23333' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
    background-position: right .45em top 50%;
    background-repeat: no-repeat;
    background-size: auto 16px;
    box-shadow: rgba(0, 0, 0, .02) 0 -1.4em 1em 0 inset;
    max-width: 280px;
    overflow-wrap: normal;
    text-transform: none;
    vertical-align: middle;
}

h3 {
    color: #555;
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    margin: 0 0 .5em;
    text-rendering: optimizespeed;
}

button {
    appearance: button;
    cursor: pointer;
    letter-spacing: .03em;
    margin: 0 1em 1em 0;
    max-width: 100%;
    min-height: 2.5em;
    position: relative;
    text-decoration: none;
    text-rendering: optimizelegibility;
    text-shadow: none;
    text-transform: uppercase;
    touch-action: manipulation;
}

::-webkit-file-upload-button {
    appearance: button;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

h1 {
    color: #555;
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 0 0 .5em;
    text-rendering: optimizespeed;
    width: 100%;
}

*, ::after, ::before {
    box-sizing: border-box;
}

label, td {
    font-size: .9em;
}

h1, td {
    line-height: 1.3;
}

td {
    border-bottom: 1px solid #ececec;
    color: #666;
    padding: .5em;
}

form {
    margin-bottom: 1.3em;
}

input {
    font-family: inherit;
    overflow: visible;
    touch-action: manipulation;
}

label {
    color: #222;
    display: block;
    font-weight: 700;
}

td input, td label, td select {
    margin: .5em 0;
}

form p {
    margin-bottom: .5em;
}

tr td {
    text-align: left;
}

.col-12, .col-md-6 {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    width: 100%;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 768px) {
    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.form-control {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    color: #495057;
    display: block;
    font-size: 1rem;
    font-weight: 400;
    height: calc(1.5em + .75rem + 2px);
    line-height: 1.5;
    padding: .375rem .75rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    width: 100%;
}

@media (prefers-reduced-motion:reduce) {
    .form-control {
        transition: none 0s;
    }
}

.btn {
    border-radius: .25rem;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    user-select: none;
    vertical-align: middle;
}

@media (prefers-reduced-motion:reduce) {
    .btn {
        transition: none 0s;
    }
}

.btn-danger {
    border-color: #dc3545;
    color: #fff;
}

.input-group {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
}

.input-group-append {
    display: flex;
    margin-left: -1px;
}

.input-group-text {
    align-items: center;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    color: #495057;
    display: flex;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 0;
    padding: .375rem .75rem;
    text-align: center;
    white-space: nowrap;
}

.fa {
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    line-height: 1;
    text-rendering: auto;
}

.title {
    text-align: center;
}

.box-btn {
    margin-top: 15px;
}

.title {
    color: #000;
    font-size: 18px;
    font-weight: 600;
}

.home-act {
    padding-bottom: 50px;
}

.date {
    max-width: 280px;
}

.btn {
    font-weight: 700;
    padding: 5px 25px;
}

.container, .row {
    max-width: 1080px;
    width: 100%;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.fa {
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
}

.form-control::-webkit-input-placeholder {
    opacity: 1;
}

.form-control::placeholder {
    color: #6c757d;
    opacity: 1;
}

/*.fa-calendar::before {
    content: "";
}*/

input:hover, select:hover {
    box-shadow: transparent 0 -1.8em 1em 0 inset;
}

td:first-child {
    padding-left: 0;
}

td:last-child {
    padding-right: 0;
}

.title h1 {
    font-size: 21px;
}

.title h3 {
    font-weight: 400;
}

.form-control::-webkit-input-placeholder {
    color: #bbb;
}

p:empty {
    display: none;
}

.container::after, .row::after {
    clear: both;
    content: "";
    display: table;
}

table tr td:first-child {
    width: 120px;
}

[type=button]:not(:disabled) {
    cursor: pointer;
}

.form-control:focus {
    background-color: #fff;
    border-color: #80bdff;
    box-shadow: rgba(0, 123, 255, .25) 0 0 0 .2rem;
    color: #495057;
    outline: 0;
}

.form-control:disabled {
    background-color: #e9ecef;
    opacity: 1;
}

.btn:hover {
    text-decoration: none;
}

.btn:focus {
    outline: 0;
}

.btn:disabled {
    opacity: .65;
}

.btn-danger:hover {
    border-color: #bd2130;
    color: #fff;
}

.btn-danger:focus {
    box-shadow: rgba(225, 83, 97, .5) 0 0 0 .2rem;
}

.btn-danger:disabled {
    background-color: #dc3545;
    border-color: #dc3545;
    color: #fff;
}

.input-group > .form-control {
    flex: 1 1 auto;
    margin-bottom: 0;
    position: relative;
    width: 1%;
}

:where(div[data-block-name="woocommerce/legacy-template"]) {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

html :where([style*="border-width"]) {
    border-style: solid;
}

html :where(img[class*="wp-image-"]) {
    height: auto;
    max-width: 100%;
}

.input-group > .form-control:focus {
    z-index: 3;
}

.input-group > .form-control:not(:last-child) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.input-group > .form-control:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.input-group > .input-group-append > .input-group-text {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.container .row:not(.row-collapse) {
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 0;
    padding-right: 0;
    width: auto;
}

:where(.wp-block-columns.has-background) {
    padding: 1.25em 2.375em;
}

.btn-danger:not(:disabled):not(.disabled):active {
    background-color: #bd2130;
    border-color: #b21f2d;
    color: #fff;
}

    .btn-danger:not(:disabled):not(.disabled):active:focus {
        box-shadow: rgba(225, 83, 97, .5) 0 0 0 .2rem;
    }

.input-group > .input-group-append:last-child > .input-group-text:not(:last-child) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

#rMessage {
    margin-top: 15px;
    text-align: center;
}

.btn-danger {
    background-color: #424242 !important;
}

.text-center {
    text-align: center !important;
}

.text-danger {
    color: #dc3545 !important;
}

@media (min-width: 768px) {
    .container {
        max-width: 1170px !important;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 1170px !important;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px !important;
    }
}

select:focus {
    opacity: 1 !important;
}

.btn-danger:hover {
    background-color: #211b1b !important;
}

.row > div:not(.col):not([class^=col-]) {
    width: 100% !important;
}

#rw {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.modal-open {
    overflow: hidden
}

    .modal-open .modal {
        overflow-x: hidden;
        overflow-y: auto
    }

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: .5rem;
    pointer-events: none
}

.modal.fade .modal-dialog {
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out,-webkit-transform .3s ease-out;
    -webkit-transform: translate(0,-50px);
    transform: translate(0,-50px)
}

@media (prefers-reduced-motion:reduce) {
    .modal.fade .modal-dialog {
        transition: none
    }
}

.modal.show .modal-dialog {
    -webkit-transform: none;
    transform: none
}

.modal-dialog-scrollable {
    display: -ms-flexbox;
    display: flex;
    max-height: calc(100% - 1rem)
}

    .modal-dialog-scrollable .modal-content {
        max-height: calc(100vh - 1rem);
        overflow: hidden
    }

    .modal-dialog-scrollable .modal-footer, .modal-dialog-scrollable .modal-header {
        -ms-flex-negative: 0;
        flex-shrink: 0
    }

    .modal-dialog-scrollable .modal-body {
        overflow-y: auto
    }

.modal-dialog-centered {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    min-height: calc(100% - 1rem)
}

    .modal-dialog-centered::before {
        display: block;
        height: calc(100vh - 1rem);
        content: ""
    }

    .modal-dialog-centered.modal-dialog-scrollable {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: center;
        justify-content: center;
        height: 100%
    }

        .modal-dialog-centered.modal-dialog-scrollable .modal-content {
            max-height: none
        }

        .modal-dialog-centered.modal-dialog-scrollable::before {
            content: none
        }

.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #424242;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0
}

.modal-backdrop {
    /*position: fixed;*/
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000
}

    .modal-backdrop.fade {
        opacity: 0
    }

    .modal-backdrop.show {
        opacity: .5
    }

.modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem
}

    .modal-header .close {
        padding: 1rem 1rem;
        margin: -1rem -1rem -1rem auto
    }

.modal-title {
    margin-bottom: 0;
    line-height: 1.5
}

.modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem
}

.modal-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: .3rem;
    border-bottom-left-radius: .3rem
}

    .modal-footer > :not(:first-child) {
        margin-left: .25rem
    }

    .modal-footer > :not(:last-child) {
        margin-right: .25rem
    }

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll
}

@media (min-width:576px) {
    .modal-dialog {
        max-width: 500px;
        margin: 1.75rem auto
    }

    .modal-dialog-scrollable {
        max-height: calc(100% - 3.5rem)
    }

        .modal-dialog-scrollable .modal-content {
            max-height: calc(100vh - 3.5rem)
        }

    .modal-dialog-centered {
        min-height: calc(100% - 3.5rem)
    }

        .modal-dialog-centered::before {
            height: calc(100vh - 3.5rem)
        }

    .modal-sm {
        max-width: 300px
    }
}

@media (min-width:992px) {
    .modal-lg, .modal-xl {
        max-width: 800px
    }
}

@media (min-width:1200px) {
    .modal-xl {
        max-width: 1140px
    }
}
/* ".inherited-styles-for-exported-element" is a generated class for the inherited styles of the exported element, feel free to rename it. */

* {
    box-sizing: border-box;
}

.inherited-styles-for-exported-element {
    box-sizing: border-box;
    color: #777;
    font-family: Quicksand, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    text-align: left;
}

table {
    -webkit-border-horizontal-spacing: 0;
    -webkit-border-vertical-spacing: 0;
    border-collapse: collapse;
    border-color: #ececec;
    margin-bottom: 1em;
    width: 100%;
}

::-webkit-file-upload-button {
    appearance: button;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

::before {
    box-sizing: border-box;
}

td, th {
    border-bottom: 1px solid #ececec;
    font-size: .9em;
    padding: .5em;
}

td {
    color: #666;
    line-height: 1.3;
}

th {
    letter-spacing: .05em;
    line-height: 1.05;
    text-transform: uppercase;
}

.dropdown-menu, th, tr td {
    text-align: left;
}

.dropdown-menu {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
    color: #212529;
    display: none;
    float: left;
    font-size: 1rem;
    left: 0;
    list-style: none;
    margin: .125rem 0 0;
    min-width: 10rem;
    padding: .5rem 0;
    position: absolute;
    top: 100%;
    z-index: 1000;
}

td:first-child, th:first-child {
    padding-left: 0;
}

td:last-child, th:last-child {
    padding-right: 0;
}

.clear::after {
    clear: both;
    content: "";
    display: table;
}


